<%- include ('../user/layout/header.ejs')%>
<%- include ('../user/layout/profileSideBar.ejs')%>
<div class=" products-catagories-area clearfix">
    <div class="address-form section-padding-100" style="background-color: #FFA500; position: relative;">
        <!-- Add Address Button (Top Right Corner) -->
        <button type="button" class="btn btn-warning" style="position: absolute; top: 10px; right: 10px;">Add Address</button>
    
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 style="color: #fff;">Address Information</h2>
                    <form action="/addNewAddress" method="post">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="first-name" style="color: #fff;">First Name</label>
                                <input type="text" id="first-name" name="firstName" class="form-control" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="last-name" style="color: #fff;">Last Name</label>
                                <input type="text" id="last-name" name="lastName" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="mobile" style="color: #fff;">Mobile</label>
                            <input type="text" id="mobile" name="phone" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="email" style="color: #fff;">Email</label>
                            <input type="email" id="email" name="email" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="house-no" style="color: #fff;">House/Building Number</label>
                            <input type="text" id="house-no" name="address" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="city" style="color: #fff;">City</label>
                            <input type="text" id="city" name="city" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="state" style="color: #fff;">State</label>
                            <input type="text" id="state" name="state" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="zip" style="color: #fff;">ZIP Code</label>
                            <input type="text" id="zip" name="pin" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="additional-details" style="color: #fff;">Additional Details</label>
                            <textarea id="additional-details" name="additionalDetails" class="form-control" rows="4"></textarea>
                        </div>
                        <button type="submit" class="btn btn-warning">Save Address</button>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
</div>

    </div>



<%- include ('../user/layout/footer.ejs')%>