<%- include ('../user/layout/header.ejs')%>
<%- include ('../user/layout/profileSideBar.ejs')%>

<div class="container mt-5">
    <h2 class="mb-4">User's Ordered Products</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Date</th>
                <th>Total</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> order.orderId %></td>
                <td> order.date %></td>
                <td><span>₹ order.totalAmount %></span></td>
                <td> order.status %></td>
                <td><a href="/order-details?id= order.orderId %>">View Details</a></td>
            </tr>
    
            <tr>
                <td colspan="5">No orders found.</td>
            </tr>
        </tbody>
    </table>
</div>
</div>
<%- include ('../user/layout/footer.ejs')%>
