<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign In Form by RusticLens</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="/user/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="/user/css/style.css">
    <script>
        // JavaScript function to update the error message using the fetch API
        function clearErrorMessage(fieldId) {
            const errorMessage = document.getElementById(fieldId);
            if (errorMessage) {
                errorMessage.style.display = 'none';
            }
        }
    </script>
</head>
<body>

    <div class="main">

        <!-- Sing in  Form -->
        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <form action="/signup" method="post">
                            <figure><img src="/user/images/signin-image.jpg" alt="sing in image"></figure>
                            <a href="/signUp" class="signup-image-link">Create an account</a>
                        </form>
                    </div>

                    <div class="signin-form">
                        <h2 class="form-title">Sign in</h2> 
                        <form method="POST" class="register-form" action="/signin" id="login-form">
                            <span id="blockMessage" style="color: red; display: block;"><%= locals.blockMessage %></span>
                            <div class="form-group">
                                <label for="email"><i class="zmdi zmdi-email"></i></label>
                                <input type="email" name="email" id="email" placeholder="Your Email" oninput="clearErrorMessage('emailMessage')"/>
                                <span id="emailMessage" style="color: red; display: block;"><%= locals.emailMessage %></span>
                            </div>
                            <div class="form-group">
                                <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="password" id="your_pass" placeholder="Password" oninput="clearErrorMessage('passwordMessage')"/>
                                <span id="passwordMessage" style="color: red; display: block;"><%= locals.passwordMessage %></span>
                                <span><a href="/forgotPassword"class=class="text-end" style="color:rgba(255, 0, 0, 0.313); "><div id="error-message" >Forgot Password?</div></a></span>

                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
                                <label for="remember-me" class="label-agree-term"><span><span></span></span>Remember me</label>
                            </div>
                            <div class="form-group form-button">
                                
                                <input type="submit" name="signin" id="signin" class="form-submit" value="Log in"/>
                                
                            </div>
                        </form>

                        <!-- <div class="social-login">
                            <span class="social-label">Or login with</span>
                            <ul class="socials">
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
                            </ul>
                        </div> -->
                    </div>
                </div>
            </div>
        </section>

    </div>

    <!-- JS -->
    <script>
        // Call clearErrorMessage when any input field is changed
        const inputFields = document.querySelectorAll('input');
        inputFields.forEach((input) => {
            input.addEventListener('input', clearErrorMessage);
        });
    </script>
    <script src="/user/vendor/jquery/jquery.min.js"></script>
    <script src="/user/js/main.js"></script>
</body>
</html>