<%- include ('../user/layout/header.ejs')%>
<%- include ('../user/layout/profileSideBar.ejs')%>

<div class="products-catagories-area clearfix">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 style="color: #fff;">User Dashboard</h2>

                <!-- Display User Name and Profile Photo -->
                <div class="user-info">
                    <img src="" alt="User Photo" class="profile-photo">
                    <p class="user-name">Hello,  user.name </p>
                </div>

                <!-- Address Information Form -->
                <form action="#" method="post">
                    <!-- Address form fields go here -->
                    <!-- ... -->
                    <button type="submit" class="btn btn-warning">Save Address</button>
                </form>
            </div>
        </div>
    </div>
</div>
</div>

<%- include ('../user/layout/footer.ejs')%>
