 <!-- Search Wrapper Area Start -->
 <div class="search-wrapper section-padding-100">
    <div class="search-close">
        <i class="fa fa-close" aria-hidden="true"></i>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="search-content">
                    <form action="#" method="get">
                        <input type="search" name="search" id="search" placeholder="Type your keyword...">
                        <button type="submit"><img src="/user/img/core-img/search.png" alt=""></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Search Wrapper Area End -->

<!-- ##### Main Content Wrapper Start ##### -->
<div class="main-content-wrapper d-flex clearfix">

    <!-- Mobile Nav (max width 767px)-->
    <div class="mobile-nav">
        <!-- Navbar Brand -->
        <div class="amado-navbar-brand">
            <a action="/"><img src="/user/img/logo.png" alt="logo"></a>
        </div>
        <!-- Navbar Toggler -->
        <div class="amado-navbar-toggler">
            <span></span><span></span><span></span>
        </div>
    </div>

    <!-- Header Area Start -->
    <header class="header-area clearfix">
        <!-- Close Icon -->
        <div class="nav-close">
            <i class="fa fa-close" aria-hidden="true"></i>
        </div>
        <!-- Logo -->
        <div class="logo">
            <a href="/"><img src="/user/img/logo.png" alt="RusticLens"></a>
        </div>
        <!-- Amado Nav -->
        <!-- <nav class="amado-nav">
            <ul>
                <li class="active"><a href="/home">Home</a></li>
                <li><a href="shop.html">Shop</a></li>
                <li><a href="product-details.html">Product</a></li>
                <li><a href="cart.html">Cart</a></li>
                <li><a href="checkout.html">Checkout</a></li>
            </ul>
        </nav> -->
        <!-- Button Group -->
        <!-- <div class="amado-btn-group mt-30 mb-100">
            <a href="#" class="btn amado-btn mb-15">%Discount%</a>
            <a href="#" class="btn amado-btn active">New this week</a>
        </div> -->
        <!-- Cart Menu -->
        <div class="cart-fav-search mb-100">
            <a href="/home" class=""><i class="fa-duotone fa-house" aria-hidden="true"></i>Home</a>
            
            <% if(userDa !== undefined) {%>
                <a href="/profile" class=""><i class="fa-duotone fa-user" aria-hidden="true"></i>Dashboard</a>
                <a href="/orders" class=""><i class="fa-duotone fa-bag-shopping" aria-hidden="true"></i>Oreders</a>
                <a href="/address" class=""><i class="fa-duotone fa-address-card" aria-hidden="true"></i>Address</a>
                <a href="/editProfile" class=""><i class="fa-duotone fa-circle-info" aria-hidden="true"></i>Account Deatails</a>
                <a href="/wallet" class=""><i class="fa-duotone fa-wallet" aria-hidden="true"></i></i>Wallet</a>
                <a href="/signout" class="cart-nav"><i class="fa fa-sign-out" aria-hidden="true"></i>logout</a>
            <% }else{ %>
                <a href="/signin" class="cart-nav"><i class="fa fa-sign-in" aria-hidden="true"></i>Login</a>
            <% } %>
        </div>
        <!-- Social Button -->
        <div class="social-info d-flex justify-content-between">
            <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </div>
    </header>
    <!-- Header Area End -->
    